/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common and utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
hr{
    width: 85%;
}

/* section1 styles */
.bannerpart{
    display: flex;
    background-color: #2D25A0;
    margin: 0;
}
.banner-text{
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 0;
    margin-top: 0;
}
.fa-arrow-right .buttonicon{
    margin-left: 8px;
}
.buttons a,.buttons, .buttons i{
    text-decoration: none;
    color: white;
}
.buttons{
    background-color:#E02C6D;
    width: 168px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 27px;
    
}
.bannerpart img{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-right: 164px;
    margin-bottom: 86px;
    margin-left: 80px;
}
.bannerpart:hover .section1img{
    transform: scale(1.3);
    transition: transform 1s ease-in-out;
}

.bannertexts{
    padding-top: 207px;
    padding-left: 156px;
}

/* section2 player part */
.thumbnail>img{
    width: 300px;
    height: 256px;
}
.player h3{
    font-weight: bold;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player p, .newsinfo p{
    font-size: 16px;
    color: #6C6C6C;
    margin-top: 0px;
}
.player .playerinfo, article .newsinfo{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 17px;
}
.player , .news{
    width: 330px;
    height: 460px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 15px solid white;
    border-radius: 5px;

}
.players, .newspart{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px ;
    grid-column-gap: 30px;
    margin-top: 70px;
    margin-left: 210px;
    margin-right: 210px;
    margin-bottom: 165px;
}

/* section3 news */
article .newsheadline{
    text-decoration: none;
    color: black;
}
.sectiontitle{
    margin-left: 14.5%;
    font-weight: bolder;
    font-size: 3em;
    margin-top: 3%;
    color: #E02C6D;
    text-shadow:5px 5px 15px #fc337d79;
}
#morebutton{
    margin-left: 210px;
    margin-bottom: 5%
}

/* section4 teams part */
.team img{
    width: 150px;
    height: 150px;
}
.teams{
    display: grid;
    grid-template-columns: repeat(5,250px);
    margin-left: 12.2%;
}

/* footer part  */
footer img{
    width: 483.87px;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer i{
    color: #969BAB;
    font-size: 32px;
    height: 32px;
    width: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer .footerpart{
    display: flex;
    flex-direction: column;
}
.footerpart .center{
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}
footer{
    margin-top: 158px;
    margin-bottom: 63px;
}

/* media query */
/* for mobile */
@media only screen and (max-width:688px) {
    .bannerpart{
        width: 100%;
        flex-direction: column;
    }
    .bannerpart img{
        width: 250px;
        height: 200px;
        margin-top: 55px;
        margin-right: 16px;
        margin-bottom: 61px;
        margin-left: 50px;
    }
    .banner-text{
        color: white;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .bannertexts{
        padding-top: 112px;
        padding-left: 16px;
    }
    .bannerpart:hover .section1img{
        transform: scale(1.2);
        transition: transform 1s ease-in-out;
    }

    .players, .newspart{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap:24px ;
        grid-column-gap:0;
        margin-top: 47px;
        margin-left: 22px;
        margin-right: 15px;
        margin-bottom: 60px;
    }
    #morebutton{
        margin-left: 22px;
        margin-bottom: 5%
    }

    .sectiontitle{
        margin-left: 8%;
        font-size: 2em;
    }
    .team img{
        width: 90px;
        height: 90px;
    }
    .teams{
        grid-template-columns: repeat(2,1fr);
        margin-left: 8%;
    }
    footer img{
        width: 200px;
        height: 50px;
    }
    footer{
        margin-top: 43px;
        margin-bottom: 29px;
    }
    
}
    
    /* for ipad  */
    @media only screen and (max-width:992px) and (min-width:688px){
        .bannerpart{
            width: 100%;
        }
        .bannerpart img{
            width: 340px;
            height: 290px;
            margin-right: 35px;
            margin-left: 50px;
        }
        .banner-text{
            color: white;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 50px;
            margin-bottom: 0;
            margin-top: 0;
        }
        .bannertexts{
            padding-top: 20%;
            padding-left: 3%;
        }
        .bannerpart:hover .section1img{
            transform: scale(1.2);
            transition: transform 1s ease-in-out;
        }
    
        .players, .newspart{
            grid-template-columns: repeat(2,1fr);
            grid-row-gap:24px ;
            grid-column-gap:0;
            margin-top: 47px;
            margin-left: 37px;
            margin-right: 15px;
            margin-bottom: 60px;
        }
        #morebutton{
            margin-left: 5%;
            margin-bottom: 5%
        }
        .sectiontitle{
            margin-left: 37px;
            font-size: 3em;
        }
        .team img{
            width: 120px;
            height: 120px;
        }
        .teams{
            grid-template-columns: repeat(3,1fr);
            margin-left: 10%;
        }
        footer img{
            width: 250px;
            height: 80px;
        }
        footer{
            margin-top: 43px;
            margin-bottom: 29px;
        }
    }
